# Gentle hands-on introduction to Python programming

### Variables & Comment

In [1]:
# comment
print ("Hello World!")

Hello World!

In [2]:
var = 100
var1 = var2 = var3 = 10
var1, var2, var3 = 100, 200, 300            # var1 =100, var2=200, var3=300   NOT possible in python

In [6]:
print(var3)

300

In [7]:
var02 = "Python is very good!"
print (var02)

Python is very good!

### Arithmetic Operator

In [7]:
a = 100 + 200
b = 72/9
c = 11 % 4 
d = 11 // 4
e = 8 ** 2
print (a, b, c, d, e)
print(type(a),type(b),type(c),type(d))

300 8.0 3 2 64
<class 'int'> <class 'float'> <class 'int'> <class 'int'>

### Assignment Operators :   “x += y” equals “x = x + y”

In [14]:
x=20   
y=2
x %= y
print (x)

0

In [15]:
m=100
n=18
m%=n
print (m)

10

### Comparison Operators

In [16]:
a=100
b=200
result1= (a>b)
print (result1) 
result2= (a==b)
print (result2) 
result3= (a!=b)
print (result3)

False
False
True

## Logical Operators

In [17]:
x=True  
y=False
a=x and y   
print (a)   

b=x or y     
print (b)   

c=not x          
print (c)

False
True
False

# Data Type

In [4]:
data = 100
print("your data is: ",data," !! The type of value is :", type(data))

your data is:  100  !! The type of value is : <class 'int'>

In [ ]:
# Float

In [5]:
data = 100.001
print("your data is: ",data," !! The type of value is :", type(data))

your data is:  100.001  !! The type of value is : <class 'float'>

In [6]:
data = "texte"
print("your data is: ",data," !! The type of value is :", type(data))

your data is:  texte  !! The type of value is : <class 'str'>

In [13]:
data = False
print("your data is: ",data," !! The type of value is :", type(data))

your data is:  False  !! The type of value is : <class 'bool'>

## Convert Data Type

In [6]:
num1 = int(8.67) 
print (num1, type(num1),id(num1))     # returns 8
num2 = round(8.67)
print (num2, type(num2),id(num2))    # returns 9.0
num3 = float(5)
print (num3, type(num3),id(num3))    # returns 5.0

8 <class 'int'> 1558602112
9 <class 'int'> 210679097424
5.0 <class 'float'> 210711966488

In [15]:
v1 = chr(65) 
print(v1, type(v1))     # returns A
v2 = str(100)
print(v2,type(v2))    # returns 100
v3 = hex(15) 
print(v3, type(v3))     # returns F
v4 = oct(8)
print(v4,type(v4))    # returns 10
v5 =bin(8)
print(v5,type(v5))    # returns 10

A <class 'str'>
100 <class 'str'>
0xf <class 'str'>
0o10 <class 'str'>
0b1000 <class 'str'>

### Conditional Operator

In [18]:
a=100
b=200
result = "apple" if (a<b) else "banana"
print (result)

apple

In [21]:
age = 15
ticket = "Child Fare" if (age < 16 ) else " Adult Fare"
print(ticket)

Child Fare

# Statement

In [9]:
a = 100
b = 200
if a > b:
    print ("a is greater than b.")
else:
    print ("a is less than b")

a is less than b

In [10]:
num=200
if num < 100:
    print ("num is less than 100")
elif 100 < num < 150:
    print ("num is between 100 and 150")
else:
    print ("num is greater than 150")

num is greater than 150

In [ ]:
# https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-189-a-gentle-introduction-to-programming-using-python-january-iap-2011/lectures/


name = input("What is your name? ")
city = input("What city do you live in? ")
state =input("What state is that in? ")

print ("Hello there! It is so great to meet you,")
# One way to do this is to print strings on separate lines
print (name)
print ("from")
print (city)
print (state)

# We can also "glue together" pieces of a string by adding commas
#  between them.
print( name, "from", city, state)

# This doesn't work because raw_input returns a string
#age = raw_input("Pardon my rudeness, but how old are you? ")
#print "Wow! You look like you could be", age - (0.15*age), "!!"

age = input("Pardon my rudeness, but how old are you? ")
print("your age is: ",age,"Data-Type value is: ",type(age))
age= int(age)
# Notice that we can "glue together" two strings and one integer into
#  one giant string.
print ("Wow! You look like you could be", int(age - (0.15*age)), "!!")

# int(argument) forces the argument to be an integer by rounding down.
# So, int(5.1) = 5 and int(5.9) = 5

In [ ]:
# Problem Statement:
# If you're taller than 56", you can ride Space Mountain at Disneyland.
# If you're shorter, you cannot.
# Additionally if you are greater than 150 inches, you are super tall and
#  deserve a witty message.

# Get user's height
height = int(input("How tall are you? "))
# height = int(height)
# Do this if statement first
if height > 150:
    print( "wow you're tall!")

# Do this one second - so people who are tall get the witty message
#  AND get permission to ride the ride
if height >= 56:
    print( "ok")

else:
    print ("too short")